<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="ресторан Моветон в СПБ" />
  <meta name="keywords" content="ресторан,моветон,Санкт-Петербург,СПБ" />
  {{> shared_scripts_styles}}
  <link href="/src/css/reviews.css" rel="stylesheet">
  <link href="/src/css/menu.css" rel="stylesheet">
  <title>ресторан "Моветон" в СПБ - {{dish.name}} </title>
</head>
<body>
{{> header}}
<main>
  <div class="forum__container">
      <div class="menu__item">
        <img class="img__item" src="/src/images/{{dish.id}}.jpg">
        <div class="menu__item__content">
          <a href="/menu/dishes/{{dish.id}}"><h3>{{dish.name}}</h3></a>
          <p>{{dish.description}}</p>
        </div>
      </div>
  </div>
</main>
{{>footer}}
</body>
</html>